<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322746505972-okjp6c7q8rivercrpl5dpj0cjvve18s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322746505972-okjp6c7q8rivercrpl5dpj0cjvve18s6</string>
	<key>API_KEY</key>
	<string>AIzaSyCs6IYbijE1EuHPC4OMWf8hLSemxg_pZJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>322746505972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reynaldo.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-dc747</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-dc747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322746505972:ios:2eaa5094a40e52624f9ca1</string>
</dict>
</plist>